[package]
name = "strata-sim"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
tracing = { workspace = true }
rand = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
